@keyframes wave {
  0%, 50%, 100% {
    padding:inherit;
  }
  10%, 90% {
    padding:1px 0 0 0;
  }
  20%, 80% {
    padding:0 2px 0 0;
  }
  30%, 70% {
    padding:0 0 3px 0;
  }
  40%, 60% {
    padding:0 0 4px 4px;
  }
}
  
h1#moghwan {
    animation-name: wave;
    animation-duration: .0001s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: teal;
}
